body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: chartreuse;
    font-size: 60px;
    letter-spacing: 7px;
}